body {
    display: flex;
}

.div1 {
    background: red;
    width: 250px;
    height: 250px;
    cursor: default;
}

.div2 {
    background: rgb(45, 182, 79);
    width: 250px;
    height: 250px;
    cursor: progress;
}

.div3 {
    background: rgb(99, 23, 114);
    width: 250px;
    height: 250px;
    cursor: text;
}

.div4 {
    background: rgb(172, 78, 85);
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.div5 {
    background: rgb(54, 16, 190);
    width: 250px;
    height: 250px;
    cursor: wait;
}