main {
    background: #cbcbcb;
    height: 2000px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect_bg_1 {
    background: #ededed;
}

.sect_bg_2 {
    background: #ffffff;
}

.sect_bg_3 {
    background: #ffffff;
}

.sect_title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: sticky;
    top: 130px;
}

.b1 {    
    background: #ededed !important;
}

.b2 {    
    background: #ffffff !important;
}

.title_main {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #393939;
}

.title_main::before {
    content: '// ';
}

.title_add {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #393939;
}

.title_add:after {
    content: '';
    background-image: url('../img/arrow_1.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.sect_wrapper {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    overflow: auto;
}

.wrapper_shadow {
    -webkit-box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.11);
    margin-bottom: 30px;
}

.sect_wrapper::-webkit-scrollbar { 
    display: none;
}

.wrapper_title {
    padding: 15px;
    flex-grow: 1;
}

.wrapper_content {
    flex-grow: 3;
}

.wrapper_bg_1 {
    background: url('../img/wrapper_1.jpg') no-repeat right;
    background-size: cover;
    min-height: 170px;
}

.wrapper_block {
    border: 1px #dfdfdf solid;
    flex: 1;
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

.wrapper_block:not(:last-child) {
    margin-right: 20px;
}

.block_top {
    height: 170px;
    overflow: hidden;
}

.block_bottom {
    padding: 0 20px 20px 20px;
}

.bottom_text {
    text-align: center;
    padding: 20px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bottom_click {
    border: #393939 1px solid;
    width: 100%;
    text-align: center;
    padding: 10px;
}