* {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
}

/* html, body {
    overflow-x: hidden; 
    -ms-overflow-style: none;
    scrollbar-width: none;
} */



:link, :visited { 
    text-decoration: none;
    color: inherit;
 }

 
