#pos {
    width: 500px;
    height: 500px;
    background: cadetblue;
    position: static;
}

#pos2 {
    width: 300px;
    height: 3000px;
    background: rgb(143, 84, 111);
    position: relative;
    top: -100px;
    left: 550px;
}

#pos3 {
    width: 200px;
    height: 1000px;
    background: rgba(235, 190, 107, 0.603);
    position: absolute;
    top: 0;
    left: 0;
}

#pos4 {
    width: 150px;
    height: 150px;
    background: rgb(174, 173, 228);
    position: fixed;
    top: 25%;
    left: 0;
}

#pos5 {
    width: 150px;
    height: 150px;
    background: rgb(129, 204, 139);
    position: sticky;
    top: 25%;
    left: 0;
}