*{
    font-size: 20px;
}

fieldset {
    margin-bottom: 50px;
    border: 4px green solid;
}

#radio1 {
    border: 2px green solid;
    margin: 20px;
}

#radio1 [name="1"] {
    background-color: red;
}

