#root {
    width: 10px;
    height: 50px;
    background-color: rgb(171, 171, 179);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 500px;
}

#root2 {
    width: 350px;
    height: 50px;
    background-color: rgb(73, 189, 38);
    cursor: pointer;
    position: absolute;
}

#root3 {
    width: 350px;
    top: 70px;
    height: 20px;
    border: 1px solid #eee;
    color: red;
    position: absolute;
    text-align: center;
}