@media (max-width: 320px) {
    .header__name {
        font-size: 16px
    }
    .header__subname, 
    .footer,
    .bodyy .body__img,  
    #menu, 
    .body__divcenter .body__text, 
    .body__divcenter .body__h, 
    .body__divleft .body__h, 
    .body__divright .body__h  {
        font-size: 8px;
    }
}

@media (max-width: 999px) and (min-width: 321px) {
    .header__name {
        font-size: calc(1rem + 19 * (100vw - 320px) / 680);
    }
    .header__subname, 
    .footer,
    .bodyy .body__img,  
    #menu, 
    .body__divcenter .body__text, 
    .body__divcenter .body__h, 
    .body__divleft .body__h, 
    .body__divright .body__h  {
        font-size: calc(0.5rem + 8 * (100vw - 320px) / 680);
    }
}

@media (min-width: 1000px) {    
    .header__name {
        font-size: 35px;
    }
    .header__subname, 
    .footer,
    .bodyy .body__img,  
    #menu, 
    .body__divcenter .body__text, 
    .body__divcenter .body__h, 
    .body__divleft .body__h, 
    .body__divright .body__h  {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .body__divcenter img {
        display: none;
    }
    .bodyy .body__divright {
        display: none;
    }
    .bodyy .body__divcenter {
        width: 74%;
    }
    .header__subname {display: none;}
}

@media (max-width: 500px) {
    #menu .li6 {
        display: none;
    }
    .bodyy .body__divleft {
        display: none;
    }
    .bodyy .body__divcenter {
        width: 98%;
    }
}

@media (max-width: 400px) {
    #menu .li5 {
        display: none;
    }
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background: rgb(154,214,244);
    background: linear-gradient(90deg, rgba(154,214,244,1) 0%, rgba(209,130,217,1) 100%);
    height: auto;
   padding-bottom: 1vw;
    width: 100%;
    border-bottom: 2px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header__name {
    color: white;
    text-shadow: #d182d9 1px 0 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 30px;
}

.header__subname {
    color: white;
    text-shadow: #d182d9 1px 0 5px;
    font-family: sans-serif;
    margin-top: 15px;
    text-align: center;
}

.header__menu {
    margin:0 auto;
    width: 98%;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 20px 5px;
    width: 100%;
    text-align: center;
    background-color: rgba(238, 236, 236, 0.9);
}

#menu li { 
    display: inline; 
}

#menu a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    
}

#menu a:hover {
    border-radius: 20px 5px;
    background: linear-gradient(-90deg, rgba(154,214,244,1) 0%, rgba(209,130,217,1) 100%);
    color: white;
}

.bodyy {
    font-size: 0;
    background: rgb(154,214,244);
    background: linear-gradient(90deg, rgba(154,214,244,1) 0%, rgba(209,130,217,1) 100%);
    height: auto;
}

.body__h {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1vw 2vw;
    border-bottom: 2px solid white;
}

.footer {
    background: rgb(154,214,244);
    background: linear-gradient(90deg, rgba(154,214,244,1) 0%, rgba(209,130,217,1) 100%);
    height: auto;
    text-align: center;
    font-weight: bold;
    padding:1.5vw;
    border-top: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.body__divleft {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 5px;
    margin: 1%;
    vertical-align: top;
}

.body__img {
    padding: 4%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
 }

.body__img img {
    width: 97%;
}

.body__divcenter {
    width: 54%;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    font-size: 16px;
    border-radius: 20px 5px;
    margin: 1%;
    vertical-align: top;
}

.body__divcenter img {
    width: 38%;
    float: right;
    padding: 15px;
}

.body__hello {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.body__text {
    color: black;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
}

.body__divright {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 16px;
    margin: 1%;
    border-radius: 20px 5px;
    vertical-align: top;
}
